@model Book

@{
    ViewData["Title"] = "Detail";
    Layout = "_BooksLayout";
}

<main class="main">
        <div class="detail-container">
            <img src="~/img/books/@Model.Img" alt="@Model.Title" />
            <div class="b-details">
                <h2 class="b-title" >@Model.Title</h2>
                <h5 class="b-author text-muted">by @Model.Author</h5>
                <p class="b-desc">@Model.Description</p>
                <div class="details-row">
                    <div class="b-price">@Model.Price CZK</div>
                    <div class="stock-container">
                        @if (Model.Stock < 1)
                        {
                            <p class="b-stock text-danger">Not in Stock</p>
                        }
                        else
                        {
                            <p class="b-stock text-success">@Model.Stock in stock</p>
                            <a asp-controller="Books" asp-action="AddToCart" asp-route-bookId="@Model.BookId" class="btn btn-success btnToCart text-decoration-none">
                                Add to cart
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <a asp-controller="Books" asp-action="List" class="btnBackToList btn background-accent btnToCart">Back to list</a>
</main>