@model List<Book>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Knihy</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Price</th>
            <th>Published at</th>
            <th>Rating</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book book in Model)
        {
            <tr>
                <th>@book.BookId</th>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@book.Price CZK</td>
                <td>@book.PublishedAt</td>
                <td>@book.Rating / 5</td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="List">BOOKS</a>
                </td>
            </tr>
        }
    </tbody>
</table>