@model List<Book>

@{
    ViewData["Title"] = "List";
    Layout = "_BooksLayout";
}

<main>
    <div class="main">
        <div class="grid-container">
            @foreach (Book book in Model)
            {
                <div class="grid-cell">
                    <a asp-controller="Books" asp-action="Detail" asp-route-id="@book.BookId" class="text-decoration-none">
                        <img class="b-img" src="~/img/books/@book.Img" alt="@book.Title" />
                        <div>
                            <div class="b-title text-accent">@book.Title</div>
                            <div class="b-author text-accent">@book.Author</div>
                        </div>
                        <div class="cell-row">
                            <div>
                                <div class="b-price">@book.Price CZK</div>
                                @if (book.Stock < 1)
                                {
                                    <div class="b-stock text-danger btn-outline-danger disabled">Not in stock</div>
                                } else
                                {
                                    <div class="b-stock">@book.Stock in stock</div>
                                }
                            </div>
                            <a asp-controller="Books" asp-action="AddToCart" asp-route-bookId="@book.BookId" class="btn btn-success btnToCart text-decoration-none">
                                Add to cart
                            </a>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</main>