@model List<Book>

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<head>
    <!DOCTYPE html>
    <html lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookstoreWebApplication.WebMvcApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/BookstoreWebApplication.WebMvcApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stylesheet.css" />
</head>
<body>
    <div class="banner-project background-accent">BookstoreWebApplication.WebMvcApp</div>

    <div class="banner-title">
        <span class="title text-accent">
            Book e-shop
        </span>
        <span class="imgs">
            <img class="user-icon" src="~/img/userIcon.png" alt="User" />
            <img class ="cart-icon" src="~/img/cartIcon.png" alt="Cart" />
        </span>
    </div>

    <div class="main">
        <div class="grid-container">
            @foreach (Book book in Model)
            {
                <a asp-controller="Books" asp-action="Detail" asp-route-id="@book.BookId" class="text-decoration-none">
                    <div class="grid-cell">
                        <img class="b-img" src="~/img/books/@book.Img" alt="@book.Title" />
                        <div class="b-title text-accent">@book.Title</div>
                        <div class="b-author text-accent">@book.Author</div>
                        <div class="cell-row">
                            <div>
                                <div class="b-price">@book.Price Kc</div>
                                <div class="b-stock">Skladem @book.Stock ks</div>
                            </div>
                            <a id="btnToCart" class="btn btn-success"> <!--adds to user's cart, doesn't redirect-->
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</body>