@model List<Book>

@{
    ViewData["Title"] = "List";
    Layout = null;
}

<head>
    <!DOCTYPE html>
    <html lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookstoreWebApplication.WebMvcApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/BookstoreWebApplication.WebMvcApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stylesheet.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="banner-project background-accent">BookstoreWebApplication.WebMvcApp</div>

    <header class="banner-title">
        <span class="title text-accent">
            Book e-shop
        </span>
        <span class="imgs">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="user-icon" src="~/img/userIcon.png" alt="User" />
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Books" asp-action="Register">Register</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Books" asp-action="Login">Login</a></li>
                </ul>
            </div>

            <img class ="cart-icon" src="~/img/cartIcon.png" alt="Cart" />
        </span>
    </header>

    <div class="main">
        <div class="grid-container">
            @foreach (Book book in Model)
            {
                <div class="grid-cell">
                    <a asp-controller="Books" asp-action="Detail" asp-route-id="@book.BookId" class="text-decoration-none">
                        <img class="b-img" src="~/img/books/@book.Img" alt="@book.Title" />
                        <div>
                            <div class="b-title text-accent">@book.Title</div>
                            <div class="b-author text-accent">@book.Author</div>
                        </div>
                        <div class="cell-row">
                            <div>
                                <div class="b-price">@book.Price CZK</div>
                                @if (book.Stock < 1)
                                {
                                    <div class="b-stock text-danger btn-outline-danger disabled">Not in stock</div>
                                } else
                                {
                                    <div class="b-stock">@book.Stock in stock</div>
                                }
                            </div>
                            <a class="btnToCart btn btn-success"> <!--adds to user's cart, doesn't redirect-->
                                Add to cart
                            </a>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</body>